

__pycache__/
*.py[cod]
*$py.class



.venv/
venv/
env/
ENV/



.ipynb_checkpoints/



.vscode/



.idea/


.DS_Store
Thumbs.db
desktop.ini



*.log



build/
dist/
*.egg-info/



models/*.pt



data/processed/*.npy



data/raw/*.txt


*.zip
*.tar
*.gz



*.tmp
*.bak


predictive-maintenance/